<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>
<body>
  <div>
    <p>You are receiving this email because you requested a password reset for your user account.</p>

    <a style = "display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: None; border-radius: 20px;" href="{{reset_url}}">Reset Password</a>
  </div>
</body>
</html>