{%extends 'base.html'%}
{%block content%}

<div class = "d-flex flex-column justify-content-between align-items-center">
  <h2>Reset Password</h2>
<br><br>
<div style ="width: 400px;">
<form method = "post" action="{% url 'password_reset' %}" id = "resetForm">
  {% csrf_token %} 
  <div class="form-group">
    <label for="formGroupExampleInput">Email</label>
    <input type="text" name = "email" class="form-control" id="formGroupExampleInput" placeholder="ram">
  </div>
  
  <div class="d-flex flex-row justify-content-between">
  <button type="submit" class="btn btn-primary" id = "resetBtn">Send Reset Password Link</button>
  </div>
  
</form>  
</div>
</div>

<script>
  const form = document.getElementById("resetForm");
  const submitBtn = document.getElementById;("resetBtn")

  form.addEventListener("submit", function(event){
    submitBtn.disabled = true;
    submitBtn.innerText = "sending...";
  })
</script>

{%endblock%}