{%extends 'base.html'%}
{%block content%}

<div class = "d-flex flex-column justify-content-between align-items-center">
<h2>Password Reset Confirm</h2>
<br><br>
<div style ="width: 400px;">
<form method = "post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}" id = "resetForm">
  {% csrf_token %} 
  <div class="form-group">
    <label for="formGroupExampleInput">New Password</label>
    <input type="password" name = "new_password1" class="form-control" id="formGroupExampleInput" placeholder="ram">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Retype New Password </label>
    <input type="password" name = "new_password2" class="form-control" id="formGroupExampleInput" placeholder="ram">
  </div>
  <div class="d-flex flex-row justify-content-between">
  <button type="submit" class="btn btn-primary" id = "resetBtn">Set New Password</button>
  </div>
  
</form>  
</div>
</div>
<script>
  const form = document.getElementById("resetForm");
  const submitBtn = document.getElementById("resetBtn");

  form.addEventListener("submit", function(event){
    submitBtn.disabled = true;
    submitBtn.innerText = "sending...";
  })
</script>

{% endblock %}